body {
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
}
.custom-cursor {
    position: absolute;
    pointer-events: none;
    width: 20px;
    height: 20px;
    background-color: #0d3273;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.1s ease;
    z-index: 9999;
}
/* 네비게이션 영역 */
#nav-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100vh;
    background-color: #fff;
    padding: 10px 36px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
#logo {
    padding-top: 30px;
}
#nav {
    font-size: 1rem;
    padding-top: 50px;
}
#nav > li {
    cursor: pointer;
    height: 50px;
    line-height: 50px;
}
#nav > li > a {
    color: #000;
    padding-left: 10px;   
}
#nav > li:hover {
    cursor: pointer;
    background-color: #0d3273;
}
#nav > li:hover > a {
    color: #fff;
}
.section-wrap {
    width: calc(100vw - 270px);
    float: right;
    display: flex;
    flex-direction: column;
    /* align-items: end; */
    overflow: hidden;
}
#search{
    display: flex;
    align-items: center;
    padding-top: 50%;
}
#search-box {
    display: flex;
    align-items: center;
}
.search-box {
    width: 120px;
    height: 30px;
    border: 2px solid #0d3273;
}
.zoom {
    width: 40px;
    height: 36px;
    background-color: #0d3273;
    border: 2px solid #0d3273;
    cursor: pointer;
}
.zoom > i {
    filter: invert(1);
    font-size: 20px;
    /* padding: 5px; */
    text-align: center;
}
#cart-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#cart-icon > i {
    color: #0d3273;
    font-size: 20px;
    padding: 5px;
}
#sns {
    padding-left: 10px;
    padding-top: 35%;
}
#sns > ul {
    display: flex;
}
#sns > ul > li > span {
    display: none;
}
#sns > ul > li:nth-child(1) {
    width: 40px; height: 40px;
    background-image: url("../images/instagram.png");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    cursor: pointer;
}
#sns > ul > li:nth-child(2) {
    width: 40px; height: 40px;
    background-image: url("../images/facebook.png");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    margin-left: 10px;
    cursor: pointer;
}
#sns > ul > li:nth-child(3) {
    width: 40px; height: 40px;
    background-image: url("../images/kakaotalk.png");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    margin-left: 10px;
    cursor: pointer;
}
#nav-btn {
    display: block;
    position: fixed;
    top: 15%;
    /* right: -50%; */
    left: 200px;
    width: 175px;
    height: 35px;
    transform: rotate(-90deg);
    background-color: #fff;
    padding: 8px;
    border-radius: 0px 0px 10px 10px;
}
#nav-btn > a {
    display: flex;
    align-items: center;
}
#nav-btn > a > span {
    transform: rotate(180deg);
    width: 70%;
    color: #0d3273;
    font-size: 1.3rem;
    font-weight: 500;
}
#nav-btn > a > img {
    display: block;
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-right: 30px;
}

/* 메인 배너 영역 */
#main-banner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
#slide-banner {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}
#slide-banner > li {
    width: 100%;
    flex: 0 0 100%; /* 슬라이드 하나의 너비를 100%로 설정 */
}
#banner1 {
    width: 100%;
    position: relative;
}
#banner1 > img{
    width: 100%;
    display: block;
}
.banner1-txt {
    position: absolute;
    top: 20%;
    right: 8%;
    color: #fff;
    font-size: 1.9rem;
    line-height: 50px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.banner1-txt > h2 {
    font-size: 3.8rem;
}
.banner1-txt > h4 {
    font-size: 2rem;
    text-align: center;
    padding-top: 10px;
}
#banner2 {
    width: 100%;
    position: relative;
}
#banner2 > img{
    display: block;
    width: 100%;
    height: auto;
}
.banner2-txt {
    position: absolute;
    top: 15%;
    left: 45%;
}
.banner2-txt > img {
    display: block;
    width: 300px;
    padding-left: 25%;
}
.banner2-txt > p {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 40px;
    padding-top: 3%;
}
.banner2-products {
    width: 80%;
    position: absolute;
    left: 7%;
    bottom: 3%;
    display: flex;
    align-items: center;
}
.banner2-products > li {
    margin-right: 40px;
}
.product > a > img {
    display: block;
    width: 230px;
    height: auto;
    padding-bottom: 10px;
}
.product > a > span {
    text-align: center;
    font-size: 1rem;
    line-height: 25px;
}
.product > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
#banner3 {
    width: 100%;
    display: block;
    position: relative;
}
#banner3 > img {
    display: block;
    width: 100%;
    height: auto;
}
.banner3-logo {
    width: 60%;
    position: absolute;
    top: 3%;
    left: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner3-logo > img {
    width: 350px;
    height: auto;
}
.banner3-logo > p {
    font-size: 5rem;
    font-weight: bold;
}
/* 브랜드 역사, 실시간 베스트 랭킹 영역 */
#about-asics {
    height: 1600px;
    padding-top: 50px;
}
/* 브랜드 역사 title */
#about-asics > h1 {
    width: 100%;
    height: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 2.8rem;
    font-weight: bold;
    color: #0d3273;
}
/* 실시간 베스트 */
#time-best {
    float: right;
    margin-right: 40px;
    width: 330px;
    height: 320px;
    position: relative;
    align-items: center;
}
#best-box {
    width: 320px;
    height: 320px;
    border: 1.5px solid #000;
}
#timebest-txt {
    position: absolute;
    top: 10px;
    left: 14%;
    width: 300px;
    height: 320px;
    white-space: nowrap;
    font-size: 1.7rem;
    font-weight: 500;
    transform: rotate(90deg);
}
#best-box > .rank {
    position: absolute;
    display: none;
    width: 320px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#best-box > .rank > h3 {
    height: 40px;
    line-height: 50px;
    font-size: 2rem;
    padding-left: 10px;
}
#best-box > .rank > p {
    height: 50px;
    line-break: 50px;
    font-size: 1.1rem;
    text-align: center;
}
#best-box > .rank > img {
    width: 280px;
    height: auto;
    padding-left: 10px;
}
#best-box .active {
    display: block; /* 활성화된 이미지만 보여지도록 설정합니다. */
    animation: fadeInOut 4s ease-in-out infinite; /* fade-in/out 애니메이션 적용 */
}
@keyframes fadeInOut {
    0%, 100% {
        opacity: 0; /* 시작과 끝에서 투명도 0 (페이드 아웃) */
    }
    50% {
        opacity: 1; /* 중간에 투명도 1 (페이드 인) */
    }
}
.year {
    font-size: 1.5rem;
    font-weight: 600;
}
.explain {
    font-size: 1.2rem;
    line-height: 35px;
}
/* 브랜드 역사 */
.history-box {
    display: none;
}
.active {
    display: block;
}
#history-box1 {
    height: 650px;
}
#history-box2 {
    padding-top: 50px;
    height: 650px;
}
#history-box3 {
    height: 650px;
}
#history-box4 {
    height: 650px;
    padding-top: 50px;
}
#history1 {
    padding-left: 30%;
    height: 325px;
}
#history2_3-wrap {
    padding-left: 10%;
    padding-top: 30px;
    height: 325px;
    display: flex;
}
#history3 {
    padding-left: 15%;
}
#history4_5-wrap {
    height: 325px;
    display: flex;
    padding-left: 15%;
}
.history-img3 {
    display: flex;
}
.history-img4 {
    display: flex;
}
#history5 {
    padding-left: 15%;
}
#history6 {
    height: 325px;
    padding-top: 30px;
    padding-left: 35%;
}
#history7 {
    height: 325px;
    padding-left: 30%;
}
#history8_9-wrap {
    height: 325px;
    display: flex;
    padding-top: 30px;
    padding-left: 10%;
}
#history9 {
    padding-left: 15%;
}
#history10_11-wrap {
    height: 325px;
    padding-left: 15%;
    display: flex;
}
#history11 {
    padding-left: 15%;
}
#history12 {
    height: 325px;
    padding-top: 30px;
    padding-left: 30%;
}
/* more 버튼 */
#more-button {
    width: 100%;
    display: flex;
    align-items: center;
}
.line1 {
    width: 100%;
    height: 3px;
    background-color: #0d3273;
}
.more-btn {
    cursor: pointer;
    width: 230px;
    height: 65px;
    line-height: 65px;
    font-size: 1.7rem;
    font-weight: 500;
    background-color: #0d3273;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}
.line2 {
    width: 10%;
    height: 3px;
    background-color: #0d3273;
}

/* 멤버십 공지사항 영역 */
#membership {
    height: 300px;
}
.membership {
    width: 100%;
    height: 100%;
    background: url("../images/membership.png") no-repeat center;
    background-size: contain;
    background-attachment: fixed; 
    color: #fff;
    position: relative;
}
.parallax-content {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
    transition: opacity 0.03s ease-in;
}
#membership-title {
    position: absolute;
    top: 20%;
    left: 20%;
    display: flex;
    align-items: center;
}
#membership-title > p {
    font-size: 3.8rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}
.signin-btn {
    width: 220px;
    height: 55px;
    background-color: #0d3273;
    font-size: 1.8rem;
    text-align: center;
    line-height: 55px;
    margin-left: 50px;
    cursor: pointer;
}
.signin-btn > a {
    color: #fff;
}
#membership-txt {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translateX(-50%);
    font-size: 1.8rem;
    white-space: nowrap;
}
/* collaboration 영역 */
#collab-top {
    width: 100%;
    height: 200px;
    padding-top: 50px;
    display: flex;
    align-items: center;
}
#collaboration {
    height: 1250px;
}
#collab-top > h1 {
    text-align: center;
    height: 50px;
    line-height: 50px;
    padding-left: 40%;
    padding-bottom: 50px;
    text-align: center;
    font-size: 2.8rem;
    font-weight: bold;
    color: #0d3273;
}
#more-btn2 {
    width: 200px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    border: 3px solid #0d3273;
    margin-left: 20%;
    margin-top: 10px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
}
#more-btn2 > a {
    color: #0d3273;
}
#collab-list1 {
    width: 1300px;
    height: 400px;
    display: flex;
    list-style: none;
    padding: 0;
    margin-right: 0;    
}
#collab-list1, #collab-list2 > li {
    cursor: pointer;
}
#collab-list2 {
    margin-top: 100px;
    margin-left: 20%;
    width: 1300px;
    height: 400px;
    display: flex;
    list-style: none;
    padding: 0;
    margin-right: 0;
}
.list-item {
    width: 300px;
    height: 450px;
    overflow: hidden;
    position: relative;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-item > img {
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.list-item > p {
    position: absolute;
    top: 400px;
    height: 50px;
    line-height: 50px;
    font-size: 1.5rem;
}
.list-item > img:first-child {
    display: block;
}
/* 젤 카야노 14 소개 영역 */
#notice {
    width: 100%;
    height: 800px;
    background: url("../images/gel_kayano-bg.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed; 
    color: #fff;
    margin-top: 100px;
    position: relative; 
}
#big-txt {
    position: absolute; 
    top: 45%; left: 50%;
    transform: translate(-50%,-45%);
    -webkit-text-stroke: 4px rgba(255, 255, 255, 0.5);
    color: transparent;
    font-size: 10.5rem;
    font-weight: bold;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -3px;
}
#small-txt {
    position: absolute;
    top: 65%; left: 50%;
    transform: translate(-50%,-65%);
    white-space: nowrap;
    font-size: 3rem;
    font-weight: lighter;
}
#gel-img {
    position: absolute;
    top: 35%;
    left: 55%;
    transform: translate(-55%, -35%);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    opacity: 0;
}
#gel-img img {
    width: 80%;
}
#gel-img.show {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0.7;
}
/* best item 영역 */
#best-item {
    margin-top: 100px;
    height: 600px;
}
#best-item > h1 {
    text-align: center;
    height: 50px;
    line-height: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 2.8rem;
    font-weight: bold;
    color: #0d3273;
}
#color-item {
    display: flex;
    padding-top: 50px;
    width: 100%;
    height: 300px;
    position: relative;
}
#item-img {
    width: 50%;
    height: 100%;
}
#item-img > div {
    padding-left: 30%;
}
#item-img img {
    width: 500px;
    height: auto;
}
#item-colors {
    width: 50%;
}
.button-wrap {
    padding: 8%;
    width: 300px;
    height: 100px;
    margin-left: 15%;
}
.button-wrap > button {
    margin-right: 20px;
    cursor: pointer;
}
.circle1 {
    width: 50px; height: 50px;
    border-radius: 50%;
    background-color: #efefea;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    /* border: none; */
}
.circle2 {
    width: 50px; height: 50px;
    border-radius: 50%;
    background-color: #b0aeb1;
    border: none;
}
.circle3 {
    width: 50px; height: 50px;
    border-radius: 50%;
    background-color: #303133;
    border: none;
}
.circle4 {
    width: 50px; height: 50px;
    border-radius: 50%;
    background-color: #e8c5bf;
    border: none;
}
.circle5 {
    width: 50px; height: 50px;
    border-radius: 50%;
    background-color: #e5bb73;
    border: none;
    margin-top: 35px;
}
.circle6 {
    width: 50px; height: 50px;
    border-radius: 50%;
    background-color: #61856e;
    border: none;
    margin-top: 35px;
}
.circle7 {
    width: 50px; height: 50px;
    border-radius: 50%;
    background-color: #96b0ba;
    border: none;
    margin-top: 35px;
}
.circle8 {
    width: 50px; height: 50px;
    border-radius: 50%;
    background-color: #b79a6d;
    border: none;
    margin-top: 35px;
}
/* men, women, sports 상품 */
#products {
    margin-top: 50px;
    height: 550px;
}
#products-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#products-img > div {
    width: 500px;
    height: 350px;
    position: relative;
    overflow: hidden;
}
#products-img > div > img {
    width: 100%; height: auto;
    transition: transform 0.3s ease-in-out;
}
#products-img > div:hover > img {
    transform: scale(1.1);
}
#products-img > div > p {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 3rem;
}
#more-btn3 {
    width: 250px;
    height: 60px;
    line-height: 60px;
    background-color: #0d3273;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 100px;
    margin-left: 42%;
    cursor: pointer;
}
#more-btn3 > a {
    color: #fff;
}
/* 푸터 영역 */
#footer {
    margin-top: 100px;
    height: 450px;
    white-space: nowrap;
}
#footer-wrap {
    padding: 50px;
    display: flex;
    font-size: 1.3rem;
    line-height: 35px;
    color: #0d3273;
}
#footer-wrap a {
    color: #0d3273;
}
.menu-list {
    padding-left: 70px;
}
#footer-copyright {
    width: 95%;
    margin-left: 2.5%;
    border-top: 2px solid #0d3273;
}
#ft-info {
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    line-height: 30px;
}
.info-list {
    display: flex;
}
.info-list > li {
    margin-right: 20px;
    /* text-decoration: underline; */
    border-bottom: 2px solid #0d3273;
}
.info-list {
    margin-bottom: 10px;
}
.info-list > span {
    border-bottom: 2px solid #0d3273;
    margin-right: 20px;
}
#footer-copyright > .copy {
    padding-top: 5px;
    height: 70px;
}
#footer-copyright > .copy > li {
    display: inline-block;
    font-size: 1.3rem;
    margin-top: 12px;
    padding: 0 5px 0 10px;
    background: url(../images/nav_line.png) no-repeat left center;
    background-size: 2px 20px;
    color: #0d3273;
    line-height: 1;
}
#footer-copyright > .copy > .first {
    background: none;
}

@media screen and (max-width: 1680px) {
    .banner2-txt > p {
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 35px;
        padding-top: 3%;
    }
    .banner2-products {
        left: 7%;
    }
    .product img {
        display: block;
        width: 200px;
        height: auto;
        padding-bottom: 5px;
    }
    .product span {
        text-align: center;
        font-size: 0.9rem;
        line-height: 25px;
    }
    .banner3-logo > img {
        width: 300px;
    }
    #about-asics {
        height: 1500px;
    }
    #about-asics > h1 {
        padding-bottom: 70px;
    }
    #about-asics img {
        width: auto;
        height: 140px;
        margin-right: 30px;
    }
    #history1 {
        height: 300px;
    }
    #history-box1 {
        height: 600px;
    }
    #history-box2 {
        height: 600px;
    }
    #history-box3 {
        height: 600px;
    }
    #history5 {
        padding-left: 10%;
    }
    #history4_5-wrap {
        padding-left: 7%;
        height: 300px;
    }
    #history7 {
        height: 300px;
    }
    #history10_11-wrap {
        height: 300px;
        padding-left: 8%;
    }
    #history11 {
        padding-left: 10%;
    }
    #membership-title > p {
        font-size: 3rem;
    }
    .signin-btn {
        width: 200px;
        height: 50px;
        font-size: 1.6rem;
        line-height: 50px;
    }
    #membership-txt {
        font-size: 1.6rem;
    }
    .list-item {
        width: 270px;
        height: 400px;
    }
    .list-item > p {
        top: 360px;
        font-size: 1.25rem;
    }
    #collab-list2 {
        margin-top: 60px;
        margin-left: 12%;
    }
    #collab-top > h1 {
        padding-left: 35%;
    }
    #more-btn2 {
        width: 180px;
        height: 45px;
        line-height: 45px;
        margin-left: 16%;
        font-size: 1.6rem;
    }
    #notice {
        width: 100%;
        height: 800px;
        background: url("../images/gel2-bg.jpg") no-repeat center;
        background-size: cover;
    }
    #big-txt {
        font-size: 8.5rem;
    }
    #small-txt {
        font-size: 2.6rem;
    }
    #gel-img {
        left: 60%;
    }
    #gel-img img {
        width: 70%;
    }
    #item-img img {
        width: 450px;
        height: auto;
    }
    #footer-wrap {
        line-height: 30px;
        font-size: 1rem;
    }
    #footer { 
        height: 400px;
    }
    #ft-logo {
        padding-left: 20px;
    }
    .menu-list {
        padding-left: 35px;
    }
    #ft-info {
        line-height: 25px;
    }
    #footer-copyright {
        width: 90%;
        margin-left: 5%;
        border-top: 1.5px solid #0d3273;
    }
    #footer-copyright > .copy > li {
        font-size: 1rem;
    }
    #products-img > div {
        height: 300px;
    }
    #products-img > div > p {
        font-size: 2.6rem;
    }
}