body {
    margin: 0 auto;
    font-family: 'Pretendard',sans-serif;
}
.custom-cursor {
    position: absolute;
    pointer-events: none;
    width: 20px;
    height: 20px;
    background-color: #dd4b92;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.1s ease;
    z-index: 9999;
}
.section-wrap {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
/* 네비게이션 영역 */
#header-wrap {
    height: 100px;
    display: flex;
    flex-direction: column;
}
#header-banner {
    height: 40px;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 40px;
}
#header-banner a {
    cursor: pointer;
}
#logo {
    width: 450px;
    padding-left: 10px; padding-right: 20px;
}
#logo > a {
    display: block;
}
#logo > a > img {
    width: 180px; 
    height: auto;
}
#nav {
    position: fixed; top: 0;
    z-index: 999;
    font-family: 'Pretendard', sans-serif;
    font-size: 1.2rem;
    width: 100%;
    height: 60px;
    background-color: #dd4b92;
    display: flex;
    align-content: center;
}
#navigation {
    white-space: nowrap;
    color: #000;
    display: flex;
    align-content: center;
}
#navigation > li > a {color: #000;}
#navigation > li {
    position: relative;
    display: inline-block;
    padding: 0 17px 0 17px;
    line-height: 60px;
    cursor: pointer;
}
#navigation > li:hover {background-color: #000; }
#navigation > li:hover a{color: #fff;}
.sub-nav {
    position: absolute; left: 0;
    background-color: #000; color: #fff;
    z-index: 10;
    display: none;
}
.sub-nav li {
    padding: 0 17px 0 17px;
    width: 200px;
    height: 40px; line-height: 40px;
    display: flex; flex-direction: column;
}
.sub-nav > li:hover { background-color: #dd4b92;}
.sub-nav > li:hover a { color: #000;}
.sub-nav > li > a {color: #fff;}
#hd-icon { 
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#header-icon {
    width: 90px; height: 60px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    color: #000;
}
#header-icon > i {
    height: 60px;
    line-height: 60px;
    margin-right: 20px;
    cursor: pointer;
}
#m-header {
    width: 100%;
    height: 85px;
    display: flex;
    flex-direction: column;
    display: none;
}
#m-hd_banner {
    height: 35px;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 35px;
    font-size: 0.95rem;
}
#m-hd_banner > a {
    cursor: pointer;
}
#m-nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dd4b92;
}
#m-logo > a > img {
    width: 160px;
    height: auto;
    padding-left: 10px;
}
/* #m-hd_icon { 
    display: flex;
    justify-content: flex-end;
} */
#m-hd_icon {
    width: 90px; 
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    font-size: 1.3rem;
    color: #000;
    /* margin-left: 450px; */
}
#m-hd_icon > i {
    height: 70px;
    line-height: 70px;
    margin-right: 20px;
    cursor: pointer;
}
.menu-bar {
    width: 35px; 
    height: 30px;
    z-index: 12;
    cursor: pointer;
    margin-left: 20px;
    position: relative;
}
.menu-bar > a {
    position: absolute;
    width: 30px; 
    height: 50px;
    z-index: 12;
    cursor: pointer;
}
.menu-bar > a > span {
    position: absolute;
    width: 35px;
    height: 4px;
    border-radius: 4px;
    background-color: #000;
}
.menuBtn span:nth-child(1) { top: 0;}
.menuBtn span:nth-child(2), .menuBtn span:nth-child(3) { top: 13px;}
.menuBtn span:nth-child(4) { top: 26px;}
.menuBtn.active span:nth-child(1),
.menuBtn.active span:nth-child(4) { opacity: 0;}
.menuBtn.active span:nth-child(2) {
    transform: rotate(45deg);
}
.menuBtn.active span:nth-child(3) {
    transform: rotate(-45deg);
}
#m-navigation {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 40px;
    right: 0;
    opacity: 0;
    transition: 0.3s;
    visibility: hidden;
    z-index: 9;
    background-color: #dd4b92;
}
#m-navigation.visible {
    opacity: 1;
    visibility: visible;
}
#m-navigation > ul {
    padding-top: 50px;
}
#m-navigation > ul > li {
    width: 100%;
    height: 65px;
    line-height: 65px;
    font-weight: bold;
    font-size: 1.3rem;
}
#m-navigation > ul > li:hover{
    background-color: #000;
}
#m-navigation > ul > li:hover > a {
    color: #fff;
}
#m-navigation > ul > li > a {
    padding-left: 40px;
    color: #000;
}
.language {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.language > img {
    width: 25px;
    height: auto;
}
.language > p {
    font-size: 1.2rem;
    padding-left: 20px;
}

/* 봄 룩북 영역 */
#spring {
    background-image: url("../images/spring-bg.jpg");
    background-repeat: no-repeat;
    height: 800px;
    /* background-size: cover; */
    display: flex;
}
#vertical-txt1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-style: italic; font-weight: bold; 
    padding: 1%;
    margin-top: 6%;
    font-size: 2rem; line-height: 50%; color: #000;
    writing-mode: vertical-lr; 
}
#spring-contents {
    width: 100%;
    display: flex;
}
#spring-left {
    display: flex;
    width: 50%;
    flex-direction: column;
}
.left-top {
    height: 50%; 
    /* padding-top: 5%; */
    padding-left: 5%;
}
.left-top > img {
    width: 100%; height: auto;
}
.left-bottom {
    width: 100%;
    height: 50%;
    position: relative;
}
.left-model {
    position: absolute;
    /* left: 5%;  */
    bottom: 0;
    padding-left: 5%;
}
.left-model > img {
    width: 100%; height: auto;
}
.more-btn1 {
    margin-left: 60%;
    margin-top: 20%;
    width: 25%; height: 45px;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 15px;
    font-family: 'Pretendard', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
    line-height: 45px;
}
.more-btn1 > a {
    color: #000;
    display: block;
}
#spring-center {
    width: 30%; 
}
#spring-center > img {
    width: 420px; 
    height: auto;
    padding-top: 35%;
}
#spring-right {
    width: 50%;
}
#spring-right > img {
    width: 80%;
    padding-top: 10%;
}

/* 텍스트 애니메이션 영역 */
#txt-animation {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    height: 60px;
    display: flex;
    line-height: 60px;
    overflow-x: hidden;
}
.sculptor-txt1, .sculptor-txt2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pretendard', sans-serif;
    font-size: 2.9rem;
    font-weight: bold;
    text-align: center;
    width: 3440px;
    white-space: nowrap;
    animation: slider 40s 1s linear infinite;
}
.sculptor-txt1 > .slider{
    width: 860px;
    cursor: pointer;
}
.sculptor-txt2 > .slider{
    width: 860px;
    cursor: pointer;
}
@keyframes slider {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-3440px);
    }
}


/* 여름 룩북 영역 */
#summer {
    background-image: url("../images/summer-bg.jpg");
    background-repeat: no-repeat;
    height: 930px;
    display: flex;
}
#vertical-txt2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-style: italic; font-weight: bold; 
    padding: 1%;
    margin-top: 6%;
    font-size: 2rem; line-height: 50%; color: #000;
    writing-mode: vertical-lr; 
}
#summer-contents {
    width: 100%;
    display: flex;
    position: relative;
}
.center-model {
    transform: translateX(-75%);
}
.center-model > img {
    display: block;
    width: 750px; height: auto;
}
#summer-left {
    width: 30%;
    display: flex;
    padding-left: 2%; 
    padding-top: 5%;
}
.summer-magazine > img {
    width: 800px; 
    height: auto;
    filter: drop-shadow(1px 5px 5px rgba(0,0,0,0.7));
}
#summer-right {
    position: relative;
    width: 70%;
    height: 100%;
} 
#summer-txt {
    position: absolute;
    top: 27%;
    left: 35%;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 40px;
    font-size: 2.3rem;
    font-weight: bold;
    white-space: nowrap;
} 
#summer-model {
    padding-top: 5%;
    padding-left: 10%;
    display: flex; 
    align-items: center;
    justify-content: center;
}
.summer-model1 {
    width: 200px; 
    opacity: 0.65;
    margin-right: 50px;
    transition: opacity 1.5s ease;
} 
.summer-model1 > img {
    width: 100%;
}
.summer-model2 {
    width: 200px; 
    opacity: 0.65;
    transition: opacity 1.5s ease;
} 
.summer-model2 > img {
    width: 100%;
}
#more-btn2 {
    position: absolute;
    top: 85%;
    left: 40%;
    width: 13%; 
    height: 45px; 
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 15px;
    font-family: 'Pretendard', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
}
#more-btn2 > a {
    color: #000;
    display: block;
}
#summer-model3 {
    padding-left: 85%;
    transition: padding-left 2s ease;
}
#summer-model3.animate {
    padding-left: 65%;
    position: absolute; 
    bottom: -3px;
}
#summer-model3 > img {
    width: 350px;
}


/* 여름 룩북 하단 텍스트 영역 */
#lookbook-txt {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 70px;
    line-height: 70px;
    font-family: 'Pretendard',sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    white-space: nowrap;
    display: flex;
    overflow-x: hidden;
}
.lookbook-txt1, .lookbook-txt2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pretendard', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    width: 6920px;
    white-space: nowrap;
    animation: slide 60s 1s linear infinite;
}
.lookbook-txt1 > .slide{
    width: 1730px;
    cursor: pointer;
}
.lookbook-txt2 > .slide{
    width: 1730px;
    cursor: pointer;
}
@keyframes slide {
    100% {
        transform: translateX(0);
    }
    0% {
        transform: translateX(-6920px);
    }
}


/* 가을 룩북 영역 */
#autumn {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    position: relative;
    /* display: flex; */
}
#autumn-contents {
    width: 96%; height: 100%;
    display: flex;
}
#vertical-txt3 {
    /* width: 3%; */
    height: 100%;
    padding-top: 25%;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: italic; font-weight: bold; 
    font-size: 2rem;
    color: #000;
    writing-mode: vertical-lr; 
}
#autumn-left {
    width: 45%;
    height: 100%;
    position: relative;
}
.autumn-model1 {
    padding-left: 15%;
    padding-top: 40%;
    transform: rotate(90deg);
}
.autumn-model1 > img {
    display: block;
    width: 600px; height: auto;
    opacity: 0.7;
}
.sculptor-logo {
    width: 100%;
    position: absolute; 
    right: 30%; 
    opacity: 0;
    transform: rotate(90deg) translateX(-80%);
    transition: opacity 1.8s ease, transform 1.8s ease;
}
.sculptor-logo.animate {
    transform: rotate(90deg) translateX(-45%); 
    opacity: 1;
}
.sculptor-logo > img {
    display: block;
    width: 420px; height: auto;
}
#autumn-contents {position: relative;}
.autumn-model2 {
    position: absolute; 
    top: 10%; left: 7%;
    z-index: 2;
}
.autumn-model2 > img {
    display: block;
    width: 650px; height: auto;
}
#autumn-right {
    width: 55%;
    height: 100%;
    position: relative;
}
.autumn-magazine {
    z-index: 1;
    padding-top: 10%;
    padding-left: 4%;
}
.autumn-magazine > img {
    display: block;
    width: 950px; height: auto;
    filter: drop-shadow(1px 5px 5px rgba(0,0,0,0.7));
}
.autumn-model3 {
    position: absolute; 
    left: 15%;  bottom: -70px;
}
.autumn-model3 > img {
    width: 750px; height: auto;
}


/* 겨울 룩북 영역  */
#winter {
    height: 1250px;
    display: flex;
    position: relative;
}
#vertical-txt4 {
    height: 100%;
    padding-top: 40%;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: italic; font-weight: bold; 
    font-size: 2rem; line-height: 50%; color: #000;
    writing-mode: vertical-lr; 
}
#winter-contents {
    width: 97%; height: 100%;
    display: flex;
}
#winter-left {
    width: 60%; height: 100%;
    position: relative;
}
#winter-magazine {
    /* position: absolute; top: 10%;  */
    padding-top: 10%;
    position: relative;
}
#winter-magazine > img {
    display: block;
    width: 1050px; 
    height: auto;
}
/* #winter-magazine > p {
} */
.winter-txt1 {
    position: absolute; 
    top: 18%; right: 13%;
    line-height: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 35px;
    text-decoration: line-through;
    opacity: 0; 
    transition: opacity 2s ease, transform 2s ease;
    transform: translateX(-30%);
    white-space: nowrap;
}
.winter-txt1.animate {
    opacity: 1;
    transform: translateX(0);
}
#winter-model1 {
    position: absolute; 
    left: -60px; top: 30%;
    z-index: 3;
}
#winter-model1 > img {
    width: 500px; height: auto;
}
#winter-model2 {
    width: 100%; 
    height: 80%;
    position: absolute; 
    top: 10%;
    z-index: 2;
}
.winter-hat {
    position: absolute; 
    right: 25%;
    top: 13%; 
    animation: moveUpDown 2s linear infinite;
}
@keyframes moveUpDown {
    0% {
      top: 13%; /* 시작 위치 */
    }
    50% {
      top: 18%; /* 중간 위치 */
    }
    100% {
      top: 13%; /* 시작 위치로 돌아옴 */
    }
}
.winter-hat > img {
    width: 160px; height: auto;
}
/* 위아래 움직임 애니메이션 설정 */
.winter-model2 {
    position: absolute; top: 30%; right: 20%;
}
.winter-model2 > img {
    width: 650px; height: auto;
}
#winter-right {
    width: 40%; height: 100%;   
}
.winter-txt {
    transform: translate(10%,-300%);
    font-family: 'Noto Sans KR', sans-serif;
    white-space: nowrap;
    line-height: 35px;
    font-size: 2rem;
    font-weight: bold;
}
#m-winter-top {
    display: none;
}
#winter-top {
    width: 100%; 
    height: 45%;
    display: flex; align-items: center;
    padding-top: 20%;
}
.winter-model3 {
    opacity: 0;
    transition: opacity 2.5s ease;
}
.winter-model3 > img  {
    width: 270px; height: auto;
}
.winter-model4 {
    opacity: 0;
    transition: opacity 2.5s ease;
}
.winter-model4 > img  {
    width: 400px; height: auto;
}
#winter-bottom {
    width: 100%; 
    height: 60%;
}
.tesktop {
    transform: translate(-10%,-30%);
}
.tesktop > img {
    display: block;
    width: 1110px; height: auto;
}


/* 푸터 영역 */
#footer {
    /* margin-top: 70px; */
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
#footer-wrap {
    margin-top: 5%;
    padding: 50px;
    display: flex; 
    white-space: nowrap;
    font-size: 1.2rem;
}
#footer-wrap h2 {
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 70px;
}
#footer-wrap a {
    color: #000;
}
#footer-left {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer-logo img {
    width: 200px; height: auto;
}
.contact-icon {
    padding-top: 15%;
    align-items: center;
}
.contact-icon span{ 
    display: none;
}
.contact-icon > ul {
    display: flex;
}
.contact-icon > ul > li {
    cursor: pointer;
}
.contact-icon > ul > li:nth-child(1) {
    width: 50px; height: 50px;
    background-image: url("../images/kakao-icon.png");
    background-size: 40px 40px;
    background-repeat: no-repeat;
}
.contact-icon > ul > li:nth-child(2) {
    width: 50px; height: 50px;
    background-image: url("../images/facebook-icon.png");
    background-size: 40px 40px;
    background-repeat: no-repeat;
}
.contact-icon > ul > li:nth-child(3) {
    width: 50px; height: 50px;
    background-image: url("../images/instagram-icon.png");
    background-size: 40px 40px;
    background-repeat: no-repeat;
}
.contact-icon > ul > li:nth-child(4) {
    width: 50px; height: 50px;
    background-image: url("../images/email-icon.png");
    background-size: 40px 40px;
    background-repeat: no-repeat;
}
#footer-center {
    padding-left: 10%;
    width: 30%;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    position: relative;
    font-family: 'Pretendard',sans-serif;
}
.center-txt {
    /* width: 200px; */
    line-height: 30px;
}
#footer-center > ul > li{
    line-height: 30px;
    font-size: 1.1rem;
}
#footer-right {
    width: 50%;
    /* padding-left: 10%; */
    font-family: 'Pretendard', sans-serif;
}
.company-list {
    font-size: 1.05rem;
    line-height: 25px;
}
.footer-company span {
    display: inline-block;
    width: 180px;
}
#m_footer-wrap {
    display: none;
    margin-top: 10%;
}
.m_footer-icon > li {
    width: 100%;
    height: 60px;
    line-height: 60px;
    display: flex;
    align-items: center;
    font-size: 1.05rem;
    padding-left: 5%;
    font-weight: bold;
    cursor: pointer;
}
.kakao::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 25px;
    background-image: url("../images/kakao-icon.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.facebook::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 25px;
    background-image: url("../images/facebook-icon.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.instagram::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 25px;
    background-image: url("../images/instagram-icon.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.email::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 25px;
    background-image: url("../images/email-icon.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.help {
    width: 100%;
}
.left-btn1 {
    margin-left: 2.5%;
    border-top: 1px solid #000;
    width: 95%;
    height: 50px;
    line-height: 50px;
    font-size: 1.05rem;
    cursor: pointer;
}
.left-btn1 > span {
    margin-left: 10px;
    margin-right: 15px;
}
.bottom-btn1 {
    margin-left: 2.5%;
    border-top: 1px solid #000;
    width: 95%;
    height: 50px;
    line-height: 50px;
    font-size: 1.05rem;
    cursor: pointer;
}
.bottom-btn1 > span {
    margin-left: 10px;
    margin-right: 15px;
}
.help > p > span {
    margin-left: 10px;
    margin-right: 15px;
}
.m_help-list {
    display: none;
}
.company {
    width: 100%;
}
.company > p > span {
    margin-left: 10px;
    margin-right: 15px;
}
.left-btn2 {
    margin-left: 2.5%;
    border-top: 1px solid #000;
    width: 95%;
    height: 50px;
    line-height: 50px;
    font-size: 1.05rem;
    cursor: pointer;
}
.left-btn2 > span {
    margin-left: 10px;
    margin-right: 15px;
}
.bottom-btn2 {
    margin-left: 2.5%;
    border-top: 1px solid #000;
    width: 95%;
    height: 50px;
    line-height: 50px;
    font-size: 1.05rem;
    cursor: pointer;
}
.bottom-btn2 > span {
    margin-left: 10px;
    margin-right: 15px;
}
.m_help-list {
    display: none;
    width: 95%;
    margin-left: 2.5%;
    height: 160px;
    font-size: 1.05rem;
}
.m_help-list > li {
    height: 40px;
    line-height: 40px; 
    padding-left: 5%;
    font-size: 1rem;
    cursor: pointer;
}
.m_help-list > li > a {
    color: #000;
}
.m_help-list > li:hover {
    background-color: #000;
}
.m_help-list > li:hover > a {
    color: #fff;
}
.m_company-list {
    display: none;
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 30px;
    height: 240px;
    font-size: 1.05rem;
}
.m_company-list > li {
    height: 30px;
    line-height: 30px; 
    padding-left: 5%;
    font-size: 0.9rem;
    cursor: pointer;
}
.m_company-list > li > span {
    padding-right: 10px;
}
.m_footer-icon > li > a {
    height: 50px;
    line-height: 50px;
    color: #000;
}
.m_footer-icon > li > a > span {
    width: 200px;
    height: 50px;
}
#footer-copyright {
    height: 50px;
    line-height: 50px;
    background-color: #000;
    color: #fff;
    font-family: 'Pretendard',sans-serif;
    font-size: 1rem;
    text-align: center;
}

/* 모달 레이어 팝업 */
/* 체크 박스 스타일 숨기기 */
/* 모달 스타일 */
.modal {
    /* display: none; */
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}
/* 모달 내용 스타일 */
.modal-content {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    width: 440px; height: 590px;
    background-color: #fff;
    padding: 20px;
    color: #000;
}
.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contents > h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.7rem;
}
.contents > p {
    font-family: 'Pretendard',sans-serif;
    padding-top: 3%;
    line-height: 25px;
    font-size: 1.25rem;
    font-weight: bold;
}
/* 닫기 버튼 스타일 */
.button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.closebutton {
    display: flex;
    align-items: center;
    height: 30px;
}
.closebutton > p {
    padding-left: 10%;
    font-size: 1.5rem;
    font-family: 'Roboto Condensed', sans-serif;
}
.close {
    color: #000;
    font-size: 3rem;
    /* font-weight: bold; */
    font-family: 'Roboto Condensed', sans-serif;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#modalToggle {
    display: none;
}
.check {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}
.check > p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    padding-left: 1%;
}
.checkbox-box {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #333;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
}
.checkbox-box::after {
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid #333;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
#modalToggle:checked + .checkbox-box::after {
    display: block;
}
/* 체크 박스 라벨 스타일 */
.checkbox-label {
    cursor: pointer;
}

@media screen and (max-width: 1680px) {
    #logo {
        width: 550px;
    }
    #spring-center > img {
        padding-top: 33%;
    }
    .left-model > img {
        width: 80%;
    }
    #summer {
        height: 850px;
    }
    .summer-magazine > img {
        width: 650px;
    }
    .center-model > img {
        width: 730px;
    }
    #summer-model {
        padding-left: 15%;
    }
    .summer-model1 {
        width: 180px;
        margin-right: 0;
    }
    .summer-model2 {
        width: 180px;
    }
    #summer-txt {
        font-size: 1.8rem;
        top: 24%;
        left: 40%;
    }
    #summer-model3.animate {
        padding-left: 60%;
    }
    #summer-model3 > img {
        width: 300px;
    }
    #autumn {
        height: 850px;
    }
    .autumn-model1 {
        padding-left: 13%;
    }
    .autumn-model1 > img {
        width: 480px;
    }
    .autumn-magazine > img {
        width: 750px;
    }
    .sculptor-logo {
        top: 100%;
    }
    .sculptor-logo > img {
        width: 350px;
    }
    .autumn-model2 {
        left: 7%;
    }
    .autumn-model2 > img {
        width: 550px;
    }
    .autumn-model3 > img {
        width: 600px;
    }
    #winter {
        height: 1180px;
        margin-top: 30px;
    }
    #winter-magazine > p {
        right: 6%;
    }
    #winter-magazine > img {
        width: 830px;
    }
    #winter-model1 {
        left: -20%;
    }
    #winter-model1 > img {
        width: 470px;
    }
    #winter-model2 {
        top: 7%;
    }
    .winter-model2 > img {
        width: 600px;
    }
    .winter-hat {
        right: 27%;
    }
    .winter-hat > img {
        width: 140px;
        height: auto;
    }
    .winter-model3 > img {
        width: 250px;
    }
    .winter-model4 > img {
        width: 350px;
    }
    .tesktop {
        transform: translate(-14%,-38%);
    }
    .tesktop > img {
        width: 900px;
    }
    .winter-txt1 {
        right: 20%;
    }
    .winter-txt {
        transform: translate(0%,-300%);
    }
}
@media screen and (max-width: 1280px) {
    #navigation > li {
        padding: 0 2px 0 17px;
    }
    #nav {
        font-size: 1.1rem;
    }
    #header-icon {
        font-size: 1.2rem;
    }
    #header-icon > i {
        margin-right: 15px;
    }
    #logo > a > img {
        width: 160px;
        height: auto;
        padding-top: 5px;
    }
}
@media all and (max-width:1024px) { 
    #header-wrap {
        display: none;
    }
    #m-header {
        display: block !important;
    }
    #spring {
        height: 500px;
    }
    #spring-center {
        width: 37%;
    }
    #spring-center > img {
        width: 270px;
    }
    .left-model > img {
        width: 60%;
    }
    .more-btn1 {
        width: 30%;
        height: 40px;
        line-height: 40px;
        font-size: 1.3rem;
        border: 2px solid #000;
        border-radius: 10px;
    }
    #spring-right > img {
        width: 85%;
        padding-top: 9%;
    }
    #summer {
        height: 750px;
    }
    .summer-magazine > img {
        width: 530px;
    }
    #summer-model3 > img {
        width: 230px;
    }
    .center-model {
        padding-top: 20%;
        transform: translateX(-95%);
    }
    .center-model > img {
        width: 600px;
    }
    #summer-model {
        padding-top: 8%;
        padding-left: 25%;
    }
    .summer-model1, .summer-model2 {
        width: 130px;
    }
    #summer-txt {
        left: 37%;
        top: 22%;
        font-size: 1.2rem;
        line-height: 25px;
    }
    #more-btn2 {
        width: 17%;
        height: 40px;
        line-height: 40px;
        border: 2px solid #000;
        font-size: 1.3rem;
        border-radius: 10px;
    }
    #vertical-txt1, #vertical-txt2 {
        font-size: 1.7rem;
    }
    .sculptor-txt1, .sculptor-txt2 {
        font-size: 2.5rem;
        width: 3000px;
    }
    #lookbook-txt {
        height: 55px;
        line-height: 55px;
    }
    .lookbook-txt1, .lookbook-txt2 {
        font-size: 2.5rem;
        width: 5900px;
    }
    #txt-animation {
        height: 50px;
        line-height: 50px;
    }
    .sculptor-logo {
        top: 76%;
    }
    #autumn {
        height: 700px;
    }
    .autumn-model1 {
        padding-left: 20%;
    }
    .autumn-model1 > img {
        width: 350px;
    }
    .sculptor-logo > img {
        width: 280px;
    }
    .autumn-model2 > img {
        width: 420px;
    }
    .autumn-model2 {
        top: 15%;
        left: 3%;
    }
    .autumn-magazine > img {
        width: 510px;
    }
    #vertical-txt3 {
        font-size: 1.7rem;
    }
    .autumn-model3 {
        bottom: -30px;
    }
    .autumn-model3 > img {
        width: 470px;
    }
    #winter {
        height: 800px;
    }
    #winter-magazine {
        padding-top: 7%;
    }
    #winter-magazine > img {
        width: 580px;
    }
    .winter-txt1 {
        right: 0;
    }
    .winter-txt1 {
        top: 13%;
        font-size: 1.5rem;
    }    
    .winter-txt1.animate {
        transform: translateX(-10%);
    }
    #winter-model1 {
        top: 25%;
    }
    #winter-model1 > img {
        width: 320px;
    }
    .winter-hat {
        top: 20%;
    }
    .winter-model2 {
        top: 30%;
    }
    .winter-model2 > img {
        width: 430px;
    }
    .winter-hat > img {
        width: 100px;
    }
    @keyframes moveUpDown {
        0% {
          top: 13%; /* 시작 위치 */
        }
        50% {
          top: 18%; /* 중간 위치 */
        }
        100% {
          top: 13%; /* 시작 위치로 돌아옴 */
        }
    }
    .winter-model3 > img {
        width: 180px;
    }
    .winter-model4 > img {
        width: 210px;
    }
    #winter-top {
        padding-top: 35%;
    }
    .tesktop {
        transform: translate(-25%,-33%);
    }
    .tesktop > img {
        width: 650px;
    }
    .winter-txt {
        line-height: 25px;
        font-size: 1.25rem;
    }
    .winter-txt {
        transform: translate(5%,-370%);
    }
    #vertical-txt4 {
        padding-top: 50%;
        font-size: 1.7rem;
    }
    #footer-wrap {
        font-size: 0.9rem;
        padding: 35px;
    }
    #footer-wrap h2 {
        font-size: 1.3rem;
    }
    #footer-left {
        width: 20%;
        padding-top: 50px;
    }
    #footer-logo > a >  img {
        width: 140px;
        height: auto;
    }
    .contact-icon > ul > li:nth-child(1) {
        width: 35px; height: 35px; 
        background-size: 35px 35px;
        margin-right: 5px;
    }
    .contact-icon > ul > li:nth-child(2) {
        width: 35px; height: 35px; 
        background-size: 35px 35px;
        margin-right: 5px;
    }
    .contact-icon > ul > li:nth-child(3) {
        width: 35px; height: 35px; 
        background-size: 35px 35px;
        margin-right: 5px;
    }
    .contact-icon > ul > li:nth-child(4) {
        width: 35px; height: 35px; 
        background-size: 35px 35px;
        margin-right: 5px;
    }
    #footer-center {
        width: 20%;
        padding-left: 6%;
    }
    .company-list {
        font-size: 0.9rem;
    }
} 
@media all and (max-width:768px) {
    #spring {
        height: 600px;
    }
    #spring-left {
        width: 30%;
    }
    .left-top > img {
        width: 280px;
    }
    #spring-center {
        width: 30%;
    }
    #spring-center > img {
        width: 250px;
        padding-top: 100%;
    }
    #spring-right > img {
        width: 250px;
    }
    .more-btn1 {
        margin-left: 65%;
        margin-top: 0;
        width: 40%;
        height: 35px;
        line-height: 35px;
        font-size: 1.2rem;
    }
    .sculptor-txt1, .sculptor-txt2 {
        font-size: 2rem;
        width: 2300px;
    }
    #vertical-txt1, #vertical-txt2 {
        font-size: 1.3rem;
    }
    #summer {
        height: 720px;
    }
    .summer-magazine > img {
        width: 400px;
    }
    #summer-left {
        padding-top: 10%;
    }
    .summer-model1, .summer-model2 {
        width: 110px;
    }
    .summer-model1 {
        margin-right: 20px;
    }
    .left-model > img {
        width: 75%;
    }
    #summer-txt {
        font-size: 1.05rem;
        line-height: 20px;
    }  
    .center-model {
        padding-top: 50%;
        transform: translateX(-100%);
    }
    .center-model > img {
        width: 500px;
    }  
    #more-btn2 {
        height: 35px;
        line-height: 35px;
        font-size: 1.2rem;
    }
    #summer-model3 > img {
        width: 210px;
    }
    #summer-model3.animate {
        padding-left: 45%;
    }
    #lookbook-txt {
        height: 40px;
        line-height: 40px;
    }
    .lookbook-txt1, .lookbook-txt2 {
        font-size: 2rem;
        width: 4650px;
    }
    .autumn-model1 {
        padding-left: 60%;
    }
    .autumn-model1 > img {
        width: 250px;
    }
    .sculptor-logo > img {
        width: 200px;
    }
    #autumn {
        height: 650px;
    }
    .autumn-model2 {
        top: 25%;
        left: 0%;
    }
    .autumn-model2 > img {
        width: 330px;
    }
    .autumn-magazine {
        z-index: 1;
        padding-top: 8%;
        padding-left: 0;
    }
    .autumn-magazine > img {
        width: 380px;
    }
    .autumn-model3 > img {
        width: 380px;
    }
    #vertical-txt3 {
        font-size: 1.3rem;
        padding-top: 45%;
    }
    #winter {
        height: 1000px;
    }
    #winter-contents {
        flex-direction: column;
    }
    #winter-top {
        display: none;
    }
    .tesktop {
        display: none;
    }
    #m-winter-top {
        margin-left: 15%;
        margin-top: 13%;
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
    }
    .m-winter-model3 {
        opacity: 0;
        transition: opacity 2.5s ease;
    }
    .m-winter-model3 > img  {
        width: 230px; height: auto;
    }
    .m-winter-model4 {
        opacity: 0;
        transition: opacity 2.5s ease;
    }
    .m-winter-model4 > img  {
        width: 280px; height: auto;
    }
    .winter-txt {
        transform: translate(50%,-850%);
        font-size: 1.5rem;
    }
    .winter-model2 {
        top: 43%;
        right: -30%;
    }
    .winter-model2 > img {
        width: 380px;
    }
    .winter-hat {
        right: -23%;
    }
    #winter-magazine {
        padding-left: 5%;
    }
    #winter-magazine > img {
        width: 650px;
    }
    .winter-txt1.animate {
        transform: translate(50%,-25%);
    }
    #winter-model1 {
        left: -30px;
        top: 30%;
    }
    #vertical-txt4 {
        font-size: 1.3rem;
        padding-top: 80%;
    }
    #footer-wrap {
        font-size: 0.8rem;
    }
    #footer-wrap h2 {
        font-size: 1.1rem;
        line-height: 50px;
    }
    #footer-logo > a > img {
        width: 110px;
    }
    .footer-company span {
        width: 140px;
    }
    #footer-left {
        width: 16%;
    }
    .company-list {
        line-height: 20px;
        font-size: 0.8rem;
    }
    .contact-icon > ul > li:nth-child(1) {
        width: 25px;
        height: 25px;
        background-size: 25px 25px;
    }
    .contact-icon > ul > li:nth-child(2) {
        width: 25px;
        height: 25px;
        background-size: 25px 25px;
    }
    .contact-icon > ul > li:nth-child(3) {
        width: 25px;
        height: 25px;
        background-size: 25px 25px;
    }
    .contact-icon > ul > li:nth-child(4) {
        width: 25px;
        height: 25px;
        background-size: 25px 25px;
    }
    #footer-center {
        width: 15%;
    }
    #footer-copyright {
        height: 40px;
        line-height: 40px;
        font-size: 0.85rem;
    }
}
@media all and (max-width:585px) {
    #m-logo > a > img {
        width: 140px;
    }
    #m-hd_icon {
        font-size: 1.3rem;
    }
    #m-hd_icon > i {
        margin-right: 15px;
    }
    .menu-bar {
        height: 25px;
    }
    .menuBtn span:nth-child(2), .menuBtn span:nth-child(3) {
        top: 10px;
    }
    .menuBtn span:nth-child(4) {
        top: 20px;
    }
    .menu-bar > a > span {
        width: 30px;
    }
    #m-header {
        height: 70px;
    }
    #m-hd_banner {
        height: 30px;
        line-height: 30px;
        font-size: 0.9rem;
    }
    #m-navigation {
        top: 30px;
    }
    #m-nav {
        height: 40px;
    }
    #spring {
        height: 550px;
    }
    .left-top > img {
        width: 250px;
    }
    .left-model > img {
        width: 85%;
    }
    #spring-center {
        padding-top: 10%;
    }
    #spring-center > img {
        width: 210px;
    }
    #spring-right > img {
        width: 200px;
    }
    #spring-right > img {
        padding-top: 8%;
    }
    .more-btn1 {
        width: 50%;
        height: 30px;
        line-height: 30px;
        font-size: 1.1rem;
    }
    #txt-animation {
        height: 45px;
        line-height: 45px;
    }
    .sculptor-txt1, .sculptor-txt2 {
        font-size: 1.8rem;
        width: 2000px;
    }
    #summer {
        height: 650px;
    }
    .summer-magazine {
        padding-top: 15%;
    }
    .summer-magazine > img {
        width: 290px;
    }
    .center-model {
        padding-top: 60%;
        transform: translateX(-120%);
    }
    .center-model > img {
        width: 450px;
    }
    .summer-model1 {
        margin-right: 10px;
    }
    .summer-model1, .summer-model2 {
        width: 95px;
    }
    #summer-model {
        padding-top: 20%;
    }
    #summer-txt {
        left: 33%;
        top: 27%;
        font-size: 0.88rem;
    }
    #summer-model3 > img {
        width: 180px;
    }
    #more-btn2 {
        left: 30%;
        width: 20%;
        height: 30px;
        line-height: 30px;
        font-size: 1rem;
    }
    .autumn-model1 > img {
        width: 210px;
    }
    .sculptor-logo {
        top: 60%;
    }  
    .sculptor-logo > img {
        width: 180px;
    }
    .lookbook-txt1, .lookbook-txt2 {
        font-size: 1.8rem;
        width: 4150px;
    }
    .autumn-model2 {
        left: -3%;
    }
    .autumn-model2 > img {
        width: 300px;
    }
    #autumn-right {
        width: 60%;
    }
    .autumn-magazine > img {
        width: 340px;
    }  
    .autumn-model3 > img {
        width: 360px;
    }
    #vertical-txt3 {
        padding-top: 63%;
    }
    .m-winter-model3 > img {
        width: 210px;
    }
    .m-winter-model4 > img {
        width: 250px;
    }
    .winter-txt {
        transform: translate(50%,-780%);
        font-size: 1.35rem;
    }
    #winter-magazine {
        padding-top: 3%;
    }
    #winter-magazine > img {
        width: 550px;
    }
    .winter-txt1 {
        top: 7%;
        font-size: 1.3rem;
    }
    #vertical-txt4 {
        padding-top: 90%;
    }    
    #winter-model1 > img {
        width: 290px;
    }
    .winter-model2 {
        top: 50%;
        right: -45%;
    }
    .winter-model2 > img {
        width: 350px;
    }
    .winter-hat {
        right: -33%;
    }
    .winter-hat > img {
        width: 85px;
    }
    #footer-wrap {
        display: none;
    }
    #m_footer-wrap {
        display: block !important;
    }
}
@media all and (max-width:550px) {
    #spring-center {
        padding-top: 10%;
    }
    .center-model {
        padding-top: 50%;
    }
}
@media all and (max-width:540px) {
    .modal-content {
        width: 400px;
        height: 530px;
    }
    .contents > h2 {
        font-size: 2.4rem;
    }
    .contents > p {
        font-size: 1.15rem;
    }
    .contents > img {
        width: 300px;
    }
    #m-navigation > ul > li {
        height: 60px;
        line-height: 60px;
        font-size: 1.1rem;
    }
}
@media all and (max-width:490px) {
    .menu-bar > a > span {
        width: 28px;
    }
    #m-logo > a > img {
        width: 110px;
        padding-left: 20px;
    }
    #m-hd_icon > i {
        margin-right: 10px;
    }
    #m-hd_icon {
        font-size: 1.3rem;
    }
    #m-hd_banner {
        font-size: 0.8rem;
    }
    #spring {
        height: 800px;
    }
    #vertical-txt1, #vertical-txt2, #vertical-txt3, #vertical-txt4 {
        font-size: 1.15rem;
    }
    #vertical-txt1 {
        margin-top: 10%;
    }
    #spring-left {
        width: 17%;
    }
    .left-top {
        padding-top: 5%;
    }
    .left-top > img {
        width: 260px;
    }
    .more-btn1 {
        width: 100%;
        margin-left: 40%;
    }
    .left-model {
        display: none;
    }
    #spring-center > img {
        width: 250px;
    }
    #spring-center {
        padding-top: 57%;
    }
    #spring-right > img {
        width: 210px;
        padding-top: 90%;
        padding-left: 6%;
    }
    #summer {
        height: 700px;
    }
    .summer-magazine {
        padding-top: 45%;
    }
    .summer-magazine > img {
        width: 230px;
    }
    .center-model {
        padding-top: 95%;
        transform: translateX(-115%);
    }
    .center-model > img {
        width: 400px;
    }
    #summer-model {
        padding-top: 40%;
    }
    .summer-model1, .summer-model2 {
        width: 80px;
    }
    #summer-model3 > img {
        width: 160px;
    }
    #more-btn2 {
        width: 25%;
    }
    #vertical-txt2 {
        margin-top: 20%;
    }
    #lookbook-txt {
        height: 35px;
        line-height: 35px;
    }
    .lookbook-txt1, .lookbook-txt2 {
        font-size: 1.7rem;
        width: 3900px;
    }
    .autumn-magazine > img {
        width: 300px;
    }
    .sculptor-logo {
        top: 55%;
    }
    .autumn-model1 {
        padding-left: 100%;
    }
    .autumn-model1 > img {
        width: 170px;
    }
    .autumn-model2 {
        left: -10%;
    }
    .autumn-model2 > img {
        width: 270px;
    }
    .autumn-model3 {
        left: -5%;
    }
    .autumn-model3 > img {
        width: 330px;
    }
    #vertical-txt3 {
        padding-top: 70%;
    }
    #m-winter-top {
        margin-left: 10%;
        height: 265px;
    }
    .m-winter-model3 > img {
        width: 180px;
    }
    .m-winter-model4 > img {
        width: 220px;
    }
    #winter-magazine > img {
        width: 440px;
    }
    #winter-magazine {
        padding-left: 3%;
    }
    .winter-txt {
        transform: translate(35%,-720%);
        font-size: 1.25rem;
    }
    .winter-txt1 {
        top: 8%;
        font-size: 1.25rem;
    }
    .winter-txt1.animate {
        transform: translate(40%,0%);
    }
    #winter-model1 {
        left: -50px;
    }
    #winter-model1 > img {
        width: 260px;
    }
    .winter-model2 > img {
        width: 320px;
    }
    .winter-hat > img {
        width: 75px;
    }
    @keyframes moveUpDown {
        0% {
          top: 22%; /* 시작 위치 */
        }
        50% {
          top: 27%; /* 중간 위치 */
        }
        100% {
          top: 22%; /* 시작 위치로 돌아옴 */
        }
    }

}
@media all and (max-width:440px) {
    #m-hd_banner {
        font-size: 0.8rem;
    }
    .menu-bar > a > span {
        width: 30px;
        height: 3.5px;
    }
    #m-hd_icon {
        font-size: 1rem;
    }
    .modal-content {
        width: 330px;
        height: 480px;
    }
    .contents > h2 {
        font-size: 2.05rem;
    }
    .contents > p {
        font-size: 1.05rem;
    }
    .contents > img {
        width: 270px;
    }
    .close {
        font-size: 2.7rem;
    }
    .closebutton > p {
        font-size: 1.4rem;
    }
    .check > p {
        font-size: 1.4rem;
    }
    #spring-center {
        padding-top: 65%;
    }
    #spring-right > img {
        padding-top: 100%;
    }
    #vertical-txt1 {
        margin-top: 15%;
    }
    .center-model {
        width: 100%;
        transform: translateX(-350%);
    }
    .summer-magazine {
        padding-top: 0%;
    }
    .summer-model1, .summer-model2 {
        width: 70px;
    }
    .center-model {
        width: 100%;
        transform: translateX(-330%);
    }
    .center-model > img {
        width: 360px;
    }
    .summer-magazine > img {
        width: 220px;
    }
    #summer-model3 > img {
        width: 140px;
    }
    #summer-txt {
        left: 26%;
        top: 35%;
        font-size: 0.65rem;
        line-height: 15px;
    }
    #summer-model {
        padding-top: 60%;
        padding-left: 20%;
    }
    #summer-txt {
        left: 25%;
        top: 35%;
        font-size: 0.7rem;
    }
    #summer-model3 > img {
        width: 155px;
    }
    #more-btn2 {
        left: 20%;
    }
    .autumn-magazine {
        padding-top: 15%;
    }
    .autumn-magazine > img {
        width: 280px;
    }
    #m-winter-top {
        height: 240px;
    }
    .m-winter-model3 > img {
        width: 170px;
    }
    .m-winter-model4 > img {
        width: 200px;
    }
    #winter {
        height: 900px;
    }
    .winter-txt {
        font-size: 1.15rem;
        transform: translate(35%,-630%);
    }
    #winter-magazine > img {
        width: 410px;
    }
    .winter-txt1 {
        font-size: 1.1rem;
    }
    .winter-txt1.animate {
        transform: translate(45%,-25%);
    }
    #winter-model1 > img {
        width: 250px;
    }
    #winter-model1 {
        left: -70px;
    }
    .m_footer-icon > li {
        height: 55px;
        line-height: 55px;
        font-size: 0.9rem;
    }
    .instagram::before, .facebook::before, .kakao::before, .email::before {
        width: 40px;
    }
    .left-btn1, .left-btn2 {
        height: 45px;
        line-height: 45px;
        font-size: 0.9rem;
    }
    .bottom-btn1, .bottom-btn2 {
        height: 45px;
        line-height: 45px;
        font-size: 0.9rem;
    }
    .m_help-list, .m_company-list {
        font-size: 0.9rem;
    }
    .m_help-list > li {
        height: 35px;
        line-height: 35px;
        font-size: 0.9rem;
    }
    .m_company-list > li {
        font-size: 0.75rem;
        height: 30px;
        line-height: 30px;
    }
    #footer-copyright {
        font-size: 0.75rem;
    }
}
@media all and (max-width:420px) {
    #spring-center {
        padding-top: 70%;
    }
    .more-btn1 {
        width: 120%;
        margin-left: 40%;
        margin-top: 50%;
    }
    .winter-txt1 {
        font-size: 1rem;
    }
    #winter-magazine > img {
        width: 380px;
    }
    
}
@media all and (max-width:390px) {
    .modal-content {
        width: 280px;
        height: 450px;
    }
    .contents > h2 {
        font-size: 1.7rem;
    }
    .contents > p {
        font-size: 0.9rem;
    }
    .contents > img {
        width: 250px;
    }
    .close {
        font-size: 2.5rem;
    }
    .closebutton > p {
        font-size: 1.3rem;
    }
    .check > p {
        font-size: 1.3rem;
    }
    #vertical-txt1, #vertical-txt2, #vertical-txt3, #vertical-txt4 {
        font-size: 1rem;
    }
    #spring-right > img {
        margin-top: 20%;
        width: 180px;
    }
    #spring-center {
        padding-top: 85%;
    }
    #spring-center > img {
        width: 240px;
    }
    .more-btn1 {
        font-size: 1rem;
    }
    .sculptor-txt1, .sculptor-txt2 {
        font-size: 1.6rem;
        width: 1800px;
    }
    #txt-animation {
        height: 40px;
        line-height: 40px;
    }
    #summer-model {
        padding-top: 75%;
    }
    #vertical-txt2 {
        margin-top: 15%;
    }
    .summer-magazine > img {
        width: 210px;
    }
    #summer-model3 > img {
        width: 150px;
    }
    #summer-model3.animate {
        padding-left: 40%;
    }
    #summer-txt {
        font-size: 0.6rem;
    }
    #more-btn2 {
        left: 10%;
        height: 28px;
        line-height: 28px;
        font-size: 0.9rem;
    }
    .lookbook-txt1, .lookbook-txt2 {
        font-size: 1.6rem;
        width: 3700px;
    }
    .autumn-model2 > img {
        width: 250px;
    }
    .autumn-magazine > img {
        width: 250px;
    }
    .autumn-model3 > img {
        width: 310px;
    }
    .autumn-model3 {
        bottom: -35px;
    }
    .winter-txt {
        font-size: 1rem;
    }
    .m-winter-model3 > img {
        width: 150px;
    }
    .m-winter-model4 > img {
        width: 170px;
    }
    #m-winter-top {
        height: 210px;
    }
    #winter-magazine > img {
        width: 360px;
    }
    .winter-txt {
        font-size: 0.95rem;
        line-height: 20px;
        transform: translate(35%, -820%);
    }
    .winter-txt1 {
        font-size: 0.9rem;
    }
    .winter-txt1.animate {
        transform: translate(50%,-6%);
    }
    #winter-model1 > img {
        width: 220px;
    }
    .winter-model2 > img {
        width: 280px;
    }
    .winter-hat > img {
        width: 65px;
    }
    .m_footer-icon > li {
        height: 55px;
        line-height: 55px;
        font-size: 0.9rem;
    }
}
@media all and (max-width:290px) {
    #m-navigation > ul > li {
        height: 45px;
        line-height: 45px;
        font-size: 0.9rem;
    }
    #m-navigation > ul > li > a {
        padding-left: 30px;
    }
    .language > p {
        font-size: 0.85rem;
        padding-left: 10px;
    }
    .language {
        padding-left: 15px;
    }
    .language > img {
        width: 17px;
    }
    #m-logo > a > img {
        width: 90px;
        padding-left: 40px;
    }
    .menu-bar {
        margin-left: 15px;
    }
    .menu-bar > a > span {
        width: 22px;
        height: 2.5px;
    }
    .menuBtn span:nth-child(2), .menuBtn span:nth-child(3) {
        top: 8px;
    }
    .menuBtn span:nth-child(4) {
        top: 16px;
    }
    .menu-bar {
        height: 20px;
    }
    #m-hd_icon {
        font-size: 0.75rem;
    }
    #m-hd_icon > i {
        margin-right: 7px;
    }
    #m-hd_banner {
        font-size: 0.65rem;
    }
    #vertical-txt1, #vertical-txt2, #vertical-txt3, #vertical-txt4 {
        font-size: 0.9rem;
    }
    #spring {
        height: 600px;
    }
    .left-top > img {
        width: 200px;
    }
    .left-top {
        padding-top: 13%;
    }
    #vertical-txt1 {
        padding-left: 1.5%;
    }
    #spring-right > img {
        margin-top: 18%;
        width: 145px;
        padding-left: 0;
    }
    #spring-left {
        width: 12%;
    }
    #spring-center > img {
        width: 180px;
    }
    #spring-center {
        padding-top: 85%;
    }
    .more-btn1 {
        width: 170%;
        height: 25px;
        line-height: 25px;
        font-size: 0.85rem;
        border: 1.5px solid #000;
        border-radius: 7px;
    }
    #txt-animation {
        height: 35px;
        line-height: 35px;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .sculptor-txt1, .sculptor-txt2 {
        font-size: 1.4rem;
        width: 1560px;
    }
    #summer {
        height: 600px;
    }
    .summer-magazine > img {
        width: 180px;
    }
    .center-model {
        padding-top: 120%;
        width: 100%;
        transform: translateX(-450%);
    }
    .center-model > img {
        width: 300px;
    }
    #summer-model {
        padding-left: 10%;
        padding-top: 92%;
    }
    #summer-txt {
        font-size: 0.5rem;
        top: 40%;
        left: 20%;
        line-height: 12px;
    }
    .summer-model1, .summer-model2 {
        width: 65px;
    }
    #vertical-txt2 {
        padding-left: 1.5%;
    }
    #summer-model3 > img {
        width: 120px;
    }
    #summer-model3.animate {
        padding-left: 33%;
    }
    #more-btn2 {
        width: 30%;
        left: 5%;
        height: 25px;
        line-height: 25px;
        font-size: 0.8rem;
        border: 1.5px solid #000;
        border-radius: 7px;
    }
    #lookbook-txt {
        height: 30px;
        line-height: 30px;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    /* .lookbook-txt1, .lookbook-txt2 {
        font-size: 1.4rem;
        width: 2700px;
    }
    .lookbook-txt1 > .slide, .lookbook-txt2 > .slide {
        width: 900px;
    } */
    #autumn {
        height: 650px;
    }
    #autumn-contents {
        width: 95%;
    }
    #autumn-left {
        width: 25%;
    }
    #autumn-right {
        width: 75%;
    }
    .autumn-model1 {
        padding-top: 5%;
    }
    .autumn-model1 > img {
        width: 130px;
    }
    .sculptor-logo {
        top: 34%;
        right: 10%;
    }
    .sculptor-logo > img {
        width: 130px;
    }
    .sculptor-logo.animate {
        transform: rotate(90deg) translateX(-7%);
    }
    .autumn-model1 {
        padding-top: 120%;
        padding-left: 250%;
    }
    .autumn-model2 {
        top: 20%;
        left: -25%;
    }
    .autumn-model2 > img {
        width: 210px;
    }
    .autumn-model2 {
        left: -13%;
    }
    .autumn-magazine > img {
        width: 210px;
    }
    .autumn-model3 > img {
        width: 280px;
    }
    .autumn-model3 {
        left: 5%;
    }
    #vertical-txt3 {
        padding-top: 110%;
    }
    #winter {
        padding-top: 30px;
        height: 750px;
    }
    #winter-contents {
        width: 96%;
    }
    #m-winter-top {
        height: 160px;
    }
    .winter-txt {
        font-size: 0.78rem;
        line-height: 16px;
        transform: translate(35%, -850%);
    }
    .m-winter-model3 > img {
        width: 110px;
    }
    .m-winter-model4 > img {
        width: 130px;
    }
    #winter-magazine > img {
        width: 265px;
    }
    .winter-txt1 {
        top: 2px;
        font-size: 0.65rem;
    }
    .winter-txt1.animate {
        transform: translate(47%,0%);
    }
    #vertical-txt4 {
        font-size: 0.85rem;
    }
    #winter-model1 > img {
        width: 180px;
    }
    .winter-model2 > img {
        width: 250px;
    }
    .winter-hat > img {
        width: 60px;
    }
    #winter-model1 {
        top: 25%;
    }
    .winter-model2 {
        top: 45%;
        right: -55%;
    }
    .winter-hat {
        right: -40%;
    }

    .m_footer-icon > li {
        height: 45px;
        line-height: 45px;
        font-size: 0.8rem;
    }
    .instagram::before, .facebook::before, .kakao::before, .email::before {
        width: 35px;
        height: 20px;
        background-size: 20px 20px;
    }
    .left-btn1, .bottom-btn1, .left-btn2, .bottom-btn2 {
        font-size: 0.8rem;
    }
    .left-btn1, .left-btn2 {
        height: 35px;
        line-height: 35px;
    }
    .bottom-btn1, .bottom-btn2 {
        height: 35px;
        line-height: 35px;
    }
    .m_help-list > li {
        height: 30px;
        line-height: 30px;
        font-size: 0.8rem;
    }
    .m_company-list > li {
        height: 20px;
        line-height: 20px;
        font-size: 0.54rem;
    }
    .m_company-list {
        margin-bottom: 10px;
        height: 200px;
    }
    #footer-copyright {
        font-size: 0.6rem;
        height: 35px;
        line-height: 35px;
    }
    .modal-content {
        width: 200px;
        height: 300px;
    }
    .contents > h2 {
        font-size: 1.5rem;
    }
    .contents > img {
        width: 140px;
    }
    .contents > p {
        font-size: 0.68rem;
        line-height: 17px;
    }
    .button {
        margin-top: 5px;
    }
    .close {
        font-size: 2rem;
    }
    .closebutton {
        height: 25px;
    }
    .closebutton > p {
        font-size: 0.85rem;
    }
    .checkbox-box {
        width: 13px;
        height: 13px;
    }
    .check {
        height: 25px;
    }
    .check > p {
        font-size: 0.85rem;
    }
    .checkbox-box::after {
        left: 4px;
        top: 0px;
        width: 3px;
        height: 9px;
    }
}